@model IEnumerable<Modelo.Listas.ListaDesejo>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<link rel="stylesheet" href="~/assets/css/estilo-botão-tabela.css" />

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
			  asp-fallback-href="~/lib/datatables/css/jquery.dataTables.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
	</environment>
}

@if (@TempData["Message"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["Message"]
	</div>
}
@if (@TempData["Message"] == null)
{
	return;
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<hr />
					<div class="header">
						<h4 class="title">@ViewData["Title"]</h4>
					</div>
					<div class="content">
						<div class="row">
							<div class="col-lg-1">
								<a asp-action="Index" class="btn btn-primary btn btn-info btn-fill pull-left navbar-btn">
									<span class="glyphicon glyphicon-home"></span>
								</a>
							</div>
							<div class="col-lg-1">
								<a asp-action="Create" class="btn btn-primary btn btn-info btn-fill pull-right navbar-btn">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</a>
							</div>
							<div class="col-lg-5">
								<div class="input-group navbar-btn">
									<input type="text" class="form-control" placeholder="Procurar...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="content">
						<table class="table">
							<thead>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.DesejoValor)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.DesejoData)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Status)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Produto)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.FormaPagamento)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Categoria)
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.DesejoValor)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.DesejoData)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Status)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Produto.ProdutoId)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.FormaPagamento.FormaId)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
										</td>
										<td>
											<a asp-action="Edit" asp-route-id="@item.DesejoId">Edit</a> |
											<a asp-action="Details" asp-route-id="@item.DesejoId">Details</a> |
											<a asp-action="Delete" asp-route-id="@item.DesejoId">Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section ScriptPage {
	<environment include="Development">
		<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
				asp-fallback-src="~/lib/datatables/js/jquery.dataTables.min.js">
		</script>
	</environment>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#tabela_produtos').DataTable({
				"order": [[1, "asc"]]
			});
		});
	</script>
}
