@model IEnumerable<CrudAspNetMVC.Models.ListaDesejos>

@{
	ViewData["Title"] = "Lista de Desejos";
	Layout = "_LayoutIES";
}

<link rel="stylesheet" href="~/assets/css/estilo-btn-table.css" />

@section Styles	{
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/datatable/js/datatable.jquery.min.js" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	</environment>
}

@if (@TempData["Message"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["Message"]
	</div>
}
@if (@TempData["Message"] == null)
{

}

<body>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h4 class="title">@ViewData["Title"]</h4>
						</div>
						<br />

						<div class="content row">
							<div class="col-lg-1">
								<div>
									<p>
										<a asp-action="Create" class="btn btn-primary btn btn-info btn-fill pull-left">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										</a>
									</p>
								</div>
							</div>
						</div>

						<div class="content table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.DesejoValor)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.DesejoData)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.FormaPagamento)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Categoria)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Status)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Produto.ProdutoNome)
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{

										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.DesejoValor)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.DesejoData)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.FormaPagamento.FormaId)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Status)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Produto.ProdutoNome)
											</td>
											<td>
												<a asp-action="Edit" asp-route-id="@item.DesejoId" class="btn btn-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
												<a asp-action="Details" asp-route-id="@item.DesejoId" class="btn btn-info">
													<span class="glyphicon glyphicon-eye-open"></span>
												</a>
												<a asp-action="Delete" asp-route-id="@item.DesejoId" class="btn btn-danger">
													<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
												</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

@section Scripts {

	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
